openapi: 3.2.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings…
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated interstate natural gas pipelines.
  description: Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
security: []
tags:
- name: Notices
  description: Critical and non-critical operational notices.
paths:
  /api/Notice/GetActiveSummaryNotices:
    get:
      operationId: getActiveSummaryNotices
      summary: Active operational notices
      tags:
      - Notices
      parameters:
      - name: companyId
        in: query
        required: true
        schema:
          type: integer
        description: Same identifier as tspNo; this endpoint names the parameter companyId.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Notice/GetActiveSummaryNotices?companyId=200
        status: 200
        date: '2026-09-06'
  /api/Notice/GetNoticesByPageId:
    get:
      operationId: getNoticesByPageId
      summary: Notices attached to a posting page
      tags:
      - Notices
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/Notice/GetNoticeById:
    get:
      operationId: getNoticeById
      summary: Fetch one notice
      tags:
      - Notices
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: noticeId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/Notice/FilterNotices:
    get:
      operationId: filterNotices
      summary: Filter notices by id range, type and date range
      tags:
      - Notices
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      - name: noticeIdFrom
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: noticeIdTo
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Notice-type filter value from the page's filter options.
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: toDate
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Returned HTTP 400 {"message":"The request is invalid."} when probed with empty id-range values on 2026-09-06; the model binder requires all seven parameters to be present and typed.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Notice/FilterNotices?tspNo=200&pageId=10&noticeIdFrom=&noticeIdTo=&filter=&fromDate=2026-08-01&toDate=2026-09-06
        status: 400
        date: '2026-09-06'
  /api/Notice/Download:
    get:
      operationId: downloadNotice
      summary: Download a notice as a file
      tags:
      - Notices
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: noticeId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: Notice file stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    NoticeSummary:
      type: object
      description: Summary of an active operational notice (critical / non-critical).
      properties:
        noticeId:
          type: integer
        subject:
          type: string
        pageId:
          type: integer
        effectiveDateTime:
          type: string
          format: date-time
        metaId:
          type: integer
        description:
          type: string
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string, no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
