openapi: 3.2.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings…
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated interstate natural gas pipelines.
  description: Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
security: []
tags:
- name: Index of Customers
  description: Quarterly Index of Customers postings.
paths:
  /api/IndexOfCustomers/Quarter:
    get:
      operationId: listIndexOfCustomersQuarters
      summary: List the quarters with an Index of Customers posting
      tags:
      - Index of Customers
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Array of quarter start dates in M/D/YYYY, newest first. 24 quarters were returned on 2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/IndexOfCustomers/Quarter
        status: 200
        date: '2026-09-06'
  /api/IndexOfCustomers/Get:
    get:
      operationId: getIndexOfCustomers
      summary: Index of Customers for a quarter
      tags:
      - Index of Customers
      parameters:
      - name: firstDayOfQuarter
        in: query
        required: true
        schema:
          type: string
        description: Quarter start from listIndexOfCustomersQuarters, M/D/YYYY.
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexOfCustomersEntry'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: FERC 18 CFR 284.13(c) Index of Customers.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/IndexOfCustomers/Get?firstDayOfQuarter=7/1/2026&tspNo=200
        status: 200
        date: '2026-09-06'
  /api/IndexOfCustomers/ExportToExcel:
    post:
      operationId: exportIndexOfCustomersToExcel
      summary: Export an Index of Customers result set to Excel
      tags:
      - Index of Customers
      description: The client posts an application/x-www-form-urlencoded form with a single `text` field carrying the already-fetched result set, and the response is streamed to the browser as a file. This is a render-only export of data the caller already holds, not a server-side query.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
              - text
      responses:
        '200':
          description: Spreadsheet stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-probed:
        status: not probed
        note: Write-shaped export endpoint; not exercised.
components:
  schemas:
    IndexOfCustomersEntry:
      type: object
      description: 'One Index of Customers record (FERC 18 CFR 284.13(c)), returned as the NAESB row structure: `header.row1` pipeline header, `header.row2` shipper detail, `header.row3` agent, plus `section` rollups.'
      properties:
        header:
          type: object
        section:
          type: array
          items:
            type: object
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string, no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
