openapi: 3.2.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings…
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated interstate natural gas pipelines.
  description: Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
security: []
tags:
- name: Documents
  description: Documents attached to posting pages.
paths:
  /api/Document/GetDocumentByPageId:
    get:
      operationId: getDocumentsByPageId
      summary: Documents attached to a posting page
      tags:
      - Documents
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentGroup'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Document/GetDocumentByPageId?tspNo=200&pageId=10
        status: 200
        date: '2026-09-06'
  /api/Document/GetEmbeddedDocumentByPageId:
    get:
      operationId: getEmbeddedDocumentsByPageId
      summary: Embedded documents for a posting page
      tags:
      - Documents
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentGroup'
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/Document/Export:
    post:
      operationId: exportGridToDocument
      summary: Export a grid result set to a document
      tags:
      - Documents
      description: Kendo UI grid export target. The client posts the already-rendered result set; the response is streamed as a file.
      responses:
        '200':
          description: Document stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-probed:
        status: not probed
        note: Write-shaped export endpoint; not exercised.
  /api/DocumentManager/DownloadDocumentFileById:
    get:
      operationId: downloadDocumentFileById
      summary: Download a posted document by id
      tags:
      - Documents
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: Document file stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string, no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
    DocumentGroup:
      type: object
      description: Documents attached to a posting page.
      properties:
        pageName:
          type: string
        subPageName:
          type: string
        documents:
          type: array
          items:
            type: object
        className:
          type: string
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
