openapi: 3.2.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings…
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated interstate natural gas pipelines.
  description: Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
security: []
tags:
- name: Imbalances
  description: Posted imbalance reports.
paths:
  /api/PostedImbalances/GetPeriods:
    get:
      operationId: listImbalancePeriods
      summary: List the periods with a posted imbalance report
      tags:
      - Imbalances
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Array of period start dates in M/D/YYYY. Three periods were returned on 2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/PostedImbalances/GetPeriods
        status: 200
        date: '2026-09-06'
  /api/PostedImbalances/Get:
    get:
      operationId: getPostedImbalances
      summary: Posted imbalances for a period
      tags:
      - Imbalances
      parameters:
      - name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline, L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: period
        in: query
        required: true
        schema:
          type: string
        description: Period start from listImbalancePeriods, M/D/YYYY.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Returned an empty array for tspNo 200 / period 8/1/2026 on 2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/PostedImbalances/Get?tspNo=200&period=8/1/2026
        status: 200
        date: '2026-09-06'
components:
  schemas:
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string, no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
