openapi: 3.2.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings…
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated interstate natural gas pipelines.
  description: Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
security: []
tags:
- name: Telemetry
  description: Client-side error reporting sink.
paths:
  /api/Logger/Exceptions:
    post:
      operationId: logClientException
      summary: Report a client-side exception
      tags:
      - Telemetry
      description: The single-page client posts its own JavaScript errors here. It is a client telemetry sink, not a business write.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  type: string
                StackTrace:
                  type: string
                Url:
                  type: string
      responses:
        '200':
          description: Accepted.
        '500':
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-probed:
        status: not probed
        note: Write endpoint; deliberately not exercised.
components:
  schemas:
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string, no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
