# method: derived
# source: >-
#   Paths and query-parameter names are verbatim string literals from Cheniere's own shipped
#   client bundle https://lngconnection.cheniere.com/app.c8746b4fbffdfedeb14b.js; response
#   schemas were read from live anonymous responses captured 2026-09-06 (see x-probed on each
#   operation). Cheniere publishes no OpenAPI: /swagger, /swagger/v1/swagger.json, /openapi.json
#   and /api-docs all return 404 on https://lngconnectionapi.cheniere.com.
# generated: '2026-09-06'
openapi: 3.1.0
info:
  title: Cheniere LNG Connection — Pipeline Informational Postings API
  version: '2026-09-06'
  summary: The JSON API behind Cheniere's LNG Connection informational-postings site for its FERC-regulated
    interstate natural gas pipelines.
  description: |-
    Cheniere Energy publishes the FERC-mandated informational postings for its interstate natural gas pipelines — Cheniere Creole Trail Pipeline, L.P. and Cheniere Corpus Christi Pipeline, L.P. — through the LNG Connection site at https://lngconnection.cheniere.com. That site is an Angular single-page application; every posting it renders is fetched from a public, unauthenticated JSON API at https://lngconnectionapi.cheniere.com.

    The surface covers the postings required by FERC 18 CFR 284.13 and shaped by the NAESB Wholesale Gas Quadrant standards: operationally available and unsubscribed capacity by nomination cycle, firm and interruptible transactional reporting, capacity release, the quarterly Index of Customers, daily gas quality and comingled analyses, posted imbalances, operational notices, the location master list and the station/contact reference data.

    PROVENANCE — READ THIS BEFORE RELYING ON THIS DOCUMENT. Cheniere does not publish an OpenAPI, Swagger, or any developer documentation for this API; /swagger, /swagger/v1/swagger.json, /openapi.json and /api-docs all return 404 on the API host. This description was DERIVED by API Evangelist: every path and query-parameter name is a verbatim string literal read out of the provider's own shipped client bundle (https://lngconnection.cheniere.com/app.c8746b4fbffdfedeb14b.js), and every response schema was read from an actual anonymous HTTP response captured on 2026-09-06 and recorded per operation in x-probed. Nothing here is invented. Operations marked "not probed" are write-shaped and were deliberately not exercised, so their response schemas are unverified. This is an independent third-party description, not a Cheniere product.
  contact:
    name: Cheniere Pipeline Operations
    url: https://www.cheniere.com/about/where-we-work/creole-trail-pipeline
  x-derived-by: API Evangelist enrichment pipeline (local-v3)
  x-generated-from: provider client bundle string literals + live anonymous response probes
  x-not-published-by-provider: true
servers:
- url: https://lngconnectionapi.cheniere.com
  description: Production. Referenced as the prod baseUrl in the provider's own client bundle.
externalDocs:
  description: LNG Connection informational postings site
  url: https://lngconnection.cheniere.com/
tags:
- name: Discovery
  description: The posting page tree and the TSPs served.
- name: Capacity
  description: Operationally available and unsubscribed capacity postings by nomination cycle.
- name: Gas Quality
  description: Daily, comingled and mainline gas-quality analyses.
- name: Transactional Reporting
  description: Firm, interruptible and capacity-release transactional reporting.
- name: Index of Customers
  description: Quarterly Index of Customers postings.
- name: Imbalances
  description: Posted imbalance reports.
- name: Notices
  description: Critical and non-critical operational notices.
- name: Documents
  description: Documents attached to posting pages.
- name: Reference Data
  description: Locations, stations, contacts, legends and footers.
- name: Telemetry
  description: Client-side error reporting sink.
security: []
paths:
  /api/Page/GetPages:
    get:
      operationId: getPages
      summary: List the posting page tree and the TSPs served
      tags:
      - Discovery
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageIndex'
        '404': &id001
          description: 'Error. ASP.NET Web API envelope: {"message": "..."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500': *id001
      description: Root discovery document for the site. Returns every informational-posting page (with
        nested sub-pages) and the list of transportation service providers. No parameters, no authentication.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Page/GetPages
        status: 200
        date: '2026-09-06'
  /api/Page/GetLinkByPageId:
    get:
      operationId: getLinkByPageId
      summary: Get the external link attached to a posting page
      tags:
      - Discovery
      parameters:
      - &id002
        name: tspNo
        in: query
        required: true
        schema:
          type: integer
        description: 'Transportation service provider (company) id. Observed values: 200 = Cheniere Creole
          Trail Pipeline, L.P. (DUNS 800742780, FERC CID C001506); 400 = Cheniere Corpus Christi Pipeline,
          L.P. (DUNS 079841991). 600 and 800 route in the client but returned no rows when probed.'
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Returns null when the page carries no link.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Page/GetLinkByPageId?tspNo=200&pageId=10
        status: 200
        date: '2026-09-06'
  /api/Capacity/GetCycles:
    get:
      operationId: getCycles
      summary: List NAESB nomination cycles
      tags:
      - Capacity
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cycle'
        '404': *id001
        '500': *id001
      description: The five NAESB WGQ nomination cycles used as the cycleId argument to getOperationallyAvailableCapacity.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Capacity/GetCycles
        status: 200
        date: '2026-09-06'
  /api/Capacity/GetLocations:
    get:
      operationId: getCapacityLocations
      summary: List capacity posting locations for a date range
      tags:
      - Capacity
      parameters:
      - *id002
      - &id003
        name: beginDate
        in: query
        required: true
        schema:
          type: string
        description: Begin gas day. Accepted as YYYY-MM-DD or M/D/YYYY.
      - &id004
        name: endDate
        in: query
        required: true
        schema:
          type: string
        description: End gas day. Accepted as YYYY-MM-DD or M/D/YYYY.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Capacity/GetLocations?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/Capacity/GetCapacity:
    get:
      operationId: getOperationallyAvailableCapacity
      summary: Operationally available capacity for a gas day, cycle and location
      tags:
      - Capacity
      description: FERC 18 CFR 284.13(d) / NAESB WGQ operationally available capacity posting. Envelope
        carries `report` and `beginDate` only.
      parameters:
      - *id002
      - *id003
      - name: cycleId
        in: query
        required: true
        schema:
          type: integer
        description: Nomination cycle id from getCycles.
      - name: locationId
        in: query
        required: true
        schema:
          type: string
        description: Location id from getCapacityLocations.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/OperationallyAvailableCapacity'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Capacity/GetCapacity?tspNo=200&beginDate=2026-09-05&cycleId=1&locationId=CT109413
        status: 200
        date: '2026-09-06'
  /api/Capacity/GetUnsubscribed:
    get:
      operationId: getUnsubscribedCapacity
      summary: Unsubscribed firm capacity for a gas day
      tags:
      - Capacity
      parameters:
      - *id002
      - *id003
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnsubscribedCapacity'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Capacity/GetUnsubscribed?tspNo=200&beginDate=2026-09-01
        status: 200
        date: '2026-09-06'
  /api/GasQuality/GetLocations:
    get:
      operationId: getGasQualityLocations
      summary: List locations with gas-quality postings
      tags:
      - Gas Quality
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GasQualityLocation'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/GasQuality/GetLocations?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/GasQuality/GetGasQuality:
    get:
      operationId: getGasQuality
      summary: Daily gas quality for a location and date range
      tags:
      - Gas Quality
      description: null
      parameters:
      - *id002
      - *id003
      - *id004
      - name: locationId
        in: query
        required: true
        schema:
          type: string
        description: Location id from getGasQualityLocations.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/GasQualityReading'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/GasQuality/GetGasQuality?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05&locationId=CT109425
        status: 200
        date: '2026-09-06'
  /api/DailyComingled/GetDailyComingled:
    get:
      operationId: getDailyComingledGasQuality
      summary: Daily comingled system gas quality
      tags:
      - Gas Quality
      description: null
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/ComingledGasQuality'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/DailyComingled/GetDailyComingled?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/Mainline/GetMainline:
    get:
      operationId: getMainlineGasQuality
      summary: Mainline gas-quality report
      tags:
      - Gas Quality
      description: Returns an empty `report` array for both probed TSPs; the endpoint is served but carried
        no rows on 2026-09-06.
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/GasQualityReading'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Mainline/GetMainline?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/Transactional/GetFirm:
    get:
      operationId: getFirmTransactionalReport
      summary: Firm transactional reporting
      tags:
      - Transactional Reporting
      description: 'FERC 18 CFR 284.13(b) firm transportation transactional reporting: contract, shipper,
        affiliate indicator, rate charged vs maximum tariff rate, and per-location MDQ.'
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/TransactionalReportRow'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Transactional/GetFirm?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/Transactional/GetInteruptible:
    get:
      operationId: getInterruptibleTransactionalReport
      summary: Interruptible transactional reporting
      tags:
      - Transactional Reporting
      description: Path spelling `GetInteruptible` is the provider's own (single 'r'); it is reproduced
        verbatim.
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/TransactionalReportRow'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Transactional/GetInteruptible?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 200
        date: '2026-09-06'
  /api/Transactional/GetCapacityRelease:
    get:
      operationId: getCapacityReleaseReport
      summary: Capacity release transactional reporting
      tags:
      - Transactional Reporting
      description: Probed 2026-09-06 and returned HTTP 500 with the generic error envelope for tspNo 200
        across a valid date range; the client also calls it with tspNo alone, which returned 404. Recorded
        as published-but-failing rather than absent.
      parameters:
      - *id002
      - *id003
      - *id004
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ReportEnvelope'
                - type: object
                  properties:
                    report:
                      type: array
                      items:
                        $ref: '#/components/schemas/TransactionalReportRow'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Transactional/GetCapacityRelease?tspNo=200&beginDate=2026-09-01&endDate=2026-09-05
        status: 500
        date: '2026-09-06'
  /api/IndexOfCustomers/Quarter:
    get:
      operationId: listIndexOfCustomersQuarters
      summary: List the quarters with an Index of Customers posting
      tags:
      - Index of Customers
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Array of quarter start dates in M/D/YYYY, newest first. 24 quarters were returned on
        2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/IndexOfCustomers/Quarter
        status: 200
        date: '2026-09-06'
  /api/IndexOfCustomers/Get:
    get:
      operationId: getIndexOfCustomers
      summary: Index of Customers for a quarter
      tags:
      - Index of Customers
      parameters:
      - name: firstDayOfQuarter
        in: query
        required: true
        schema:
          type: string
        description: Quarter start from listIndexOfCustomersQuarters, M/D/YYYY.
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexOfCustomersEntry'
        '404': *id001
        '500': *id001
      description: FERC 18 CFR 284.13(c) Index of Customers.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/IndexOfCustomers/Get?firstDayOfQuarter=7/1/2026&tspNo=200
        status: 200
        date: '2026-09-06'
  /api/IndexOfCustomers/ExportToExcel:
    post:
      operationId: exportIndexOfCustomersToExcel
      summary: Export an Index of Customers result set to Excel
      tags:
      - Index of Customers
      description: The client posts an application/x-www-form-urlencoded form with a single `text` field
        carrying the already-fetched result set, and the response is streamed to the browser as a file.
        This is a render-only export of data the caller already holds, not a server-side query.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
              - text
      responses:
        '200':
          description: Spreadsheet stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500': *id001
      x-probed:
        status: not probed
        note: Write-shaped export endpoint; not exercised.
  /api/PostedImbalances/GetPeriods:
    get:
      operationId: listImbalancePeriods
      summary: List the periods with a posted imbalance report
      tags:
      - Imbalances
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Array of period start dates in M/D/YYYY. Three periods were returned on 2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/PostedImbalances/GetPeriods
        status: 200
        date: '2026-09-06'
  /api/PostedImbalances/Get:
    get:
      operationId: getPostedImbalances
      summary: Posted imbalances for a period
      tags:
      - Imbalances
      parameters:
      - *id002
      - name: period
        in: query
        required: true
        schema:
          type: string
        description: Period start from listImbalancePeriods, M/D/YYYY.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Returned an empty array for tspNo 200 / period 8/1/2026 on 2026-09-06.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/PostedImbalances/Get?tspNo=200&period=8/1/2026
        status: 200
        date: '2026-09-06'
  /api/Notice/GetActiveSummaryNotices:
    get:
      operationId: getActiveSummaryNotices
      summary: Active operational notices
      tags:
      - Notices
      parameters:
      - name: companyId
        in: query
        required: true
        schema:
          type: integer
        description: Same identifier as tspNo; this endpoint names the parameter companyId.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Notice/GetActiveSummaryNotices?companyId=200
        status: 200
        date: '2026-09-06'
  /api/Notice/GetNoticesByPageId:
    get:
      operationId: getNoticesByPageId
      summary: Notices attached to a posting page
      tags:
      - Notices
      parameters:
      - *id002
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404': *id001
        '500': *id001
  /api/Notice/GetNoticeById:
    get:
      operationId: getNoticeById
      summary: Fetch one notice
      tags:
      - Notices
      parameters:
      - *id002
      - name: noticeId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404': *id001
        '500': *id001
  /api/Notice/FilterNotices:
    get:
      operationId: filterNotices
      summary: Filter notices by id range, type and date range
      tags:
      - Notices
      parameters:
      - *id002
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      - name: noticeIdFrom
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: noticeIdTo
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Notice-type filter value from the page's filter options.
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
        description: ''
      - name: toDate
        in: query
        required: false
        schema:
          type: string
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoticeSummary'
        '404': *id001
        '500': *id001
      description: Returned HTTP 400 {"message":"The request is invalid."} when probed with empty id-range
        values on 2026-09-06; the model binder requires all seven parameters to be present and typed.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Notice/FilterNotices?tspNo=200&pageId=10&noticeIdFrom=&noticeIdTo=&filter=&fromDate=2026-08-01&toDate=2026-09-06
        status: 400
        date: '2026-09-06'
  /api/Notice/Download:
    get:
      operationId: downloadNotice
      summary: Download a notice as a file
      tags:
      - Notices
      parameters:
      - *id002
      - name: noticeId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: Notice file stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404': *id001
        '500': *id001
  /api/Document/GetDocumentByPageId:
    get:
      operationId: getDocumentsByPageId
      summary: Documents attached to a posting page
      tags:
      - Documents
      parameters:
      - *id002
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentGroup'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Document/GetDocumentByPageId?tspNo=200&pageId=10
        status: 200
        date: '2026-09-06'
  /api/Document/GetEmbeddedDocumentByPageId:
    get:
      operationId: getEmbeddedDocumentsByPageId
      summary: Embedded documents for a posting page
      tags:
      - Documents
      parameters:
      - *id002
      - name: pageId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentGroup'
        '404': *id001
        '500': *id001
  /api/Document/Export:
    post:
      operationId: exportGridToDocument
      summary: Export a grid result set to a document
      tags:
      - Documents
      description: Kendo UI grid export target. The client posts the already-rendered result set; the
        response is streamed as a file.
      responses:
        '200':
          description: Document stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '500': *id001
      x-probed:
        status: not probed
        note: Write-shaped export endpoint; not exercised.
  /api/DocumentManager/DownloadDocumentFileById:
    get:
      operationId: downloadDocumentFileById
      summary: Download a posted document by id
      tags:
      - Documents
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: Document file stream.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404': *id001
        '500': *id001
  /api/LocationDownload/Get:
    get:
      operationId: getLocationList
      summary: Full location master list for a TSP
      tags:
      - Reference Data
      parameters:
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationDetail'
        '404': *id001
        '500': *id001
      description: 'The downloadable location list: FERC company id, DUNS, zone, county, state, flow direction,
        status and upstream/downstream party for every point on the system.'
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/LocationDownload/Get?tspNo=200
        status: 200
        date: '2026-09-06'
  /api/Station/GetStationsByCompanyId:
    get:
      operationId: getStations
      summary: Compressor and metering stations
      tags:
      - Reference Data
      parameters:
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Station/GetStationsByCompanyId?tspNo=200
        status: 200
        date: '2026-09-06'
  /api/InformationContact/GetContacts:
    get:
      operationId: getInformationalContacts
      summary: Published informational-postings contacts
      tags:
      - Reference Data
      parameters:
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InformationalContact'
        '404': *id001
        '500': *id001
      description: Role-based contacts the pipeline is required to publish (gas control, customer service,
        scheduling). Field names are recorded here; the live values are not copied into this repository.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/InformationContact/GetContacts?tspNo=200
        status: 200
        date: '2026-09-06'
  /api/InformationContact/GetInformations:
    get:
      operationId: getInformationalPostings
      summary: Narrative informational postings
      tags:
      - Reference Data
      parameters:
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Array of HTML fragments carrying the pipeline's narrative postings (reversed-flow capacity,
        operating conditions and similar).
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/InformationContact/GetInformations?tspNo=200
        status: 200
        date: '2026-09-06'
  /api/Weather/GetWeatherLocations:
    get:
      operationId: getWeatherLocations
      summary: Weather locations for the system map
      tags:
      - Reference Data
      parameters:
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      description: Probed 2026-09-06 and returned HTTP 500 with the generic error envelope for tspNo 200.
        Recorded as published-but-failing.
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Weather/GetWeatherLocations?tspNo=200
        status: 500
        date: '2026-09-06'
  /api/Legend/GetLegendByMetaId:
    get:
      operationId: getLegendByMetaId
      summary: Legend text for a report
      tags:
      - Reference Data
      parameters:
      - *id002
      - name: metaId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Legend/GetLegendByMetaId?tspNo=200&metaId=1003
        status: 200
        date: '2026-09-06'
  /api/Footer/GetReportFooterByMetaId:
    get:
      operationId: getReportFooterByMetaId
      summary: Footer text for a report
      tags:
      - Reference Data
      parameters:
      - *id002
      - name: metaId
        in: query
        required: true
        schema:
          type: integer
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404': *id001
        '500': *id001
      x-probed:
        url: https://lngconnectionapi.cheniere.com/api/Footer/GetReportFooterByMetaId?tspNo=200&metaId=1003
        status: 200
        date: '2026-09-06'
  /api/Logger/Exceptions:
    post:
      operationId: logClientException
      summary: Report a client-side exception
      tags:
      - Telemetry
      description: The single-page client posts its own JavaScript errors here. It is a client telemetry
        sink, not a business write.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  type: string
                StackTrace:
                  type: string
                Url:
                  type: string
      responses:
        '200':
          description: Accepted.
        '500': *id001
      x-probed:
        status: not probed
        note: Write endpoint; deliberately not exercised.
components:
  schemas:
    ReportEnvelope:
      type: object
      description: Common envelope returned by the dated report endpoints. `report` carries the rows;
        `beginDate`/`endDate` echo the requested gas-day range in M/D/YYYY.
      properties:
        report:
          type: array
          items:
            type: object
        beginDate:
          type: string
          description: Echo of the requested begin gas day, M/D/YYYY.
        endDate:
          type: string
          description: Echo of the requested end gas day, M/D/YYYY.
    Error:
      type: object
      description: 'ASP.NET Web API error envelope. Not RFC 9457 problem+json: a single `message` string,
        no `type`, `title` or `status` member.'
      properties:
        message:
          type: string
      required:
      - message
    Cycle:
      type: object
      description: A NAESB WGQ nomination cycle (Timely, Evening, Intraday 1/2/3).
      properties:
        cyclE_ID:
          type: integer
        cyclE_TYPE_DESCR:
          type: string
    Location:
      type: object
      description: A capacity posting location (receipt/delivery point).
      properties:
        loC_ID:
          type: string
        loC_NM:
          type: string
    GasQualityLocation:
      type: object
      description: A location that carries a gas-quality posting.
      properties:
        tsP_NO:
          type: integer
        loC_ID:
          type: string
        loC_NM:
          type: string
    OperationallyAvailableCapacity:
      type: object
      description: Operationally available / unscheduled capacity posting for one location and nomination
        cycle (NAESB WGQ 5.3.x, FERC 18 CFR 284.13(d)).
      properties:
        tsp:
          type: string
        tsP_NAME:
          type: string
        cycle:
          type: string
        postinG_DT_TIME:
          type: string
        avaiL_CAP_EFF_DT_TIME:
          type: string
          format: date-time
        avaiL_CAP_END_DT:
          type: string
          format: date-time
        caP_TYPE_DESC:
          type: string
        loc:
          type: string
        loC_NAME:
          type: string
        loC_PURP_DESC:
          type: string
        loC_QTI:
          type: string
        meaS_BASIS:
          type: string
        it:
          type: string
        alL_QTY_AVAIL:
          type: string
        desigN_OPER_CAP:
          type: number
        opeR_CAP:
          type: number
        scheD_QTY:
          type: number
        qtY_AVAIL:
          type: number
        floW_IND:
          type: string
        row_Number:
          type: string
    UnsubscribedCapacity:
      type: object
      description: Unsubscribed firm capacity posting for one location and gas day.
      properties:
        tsP_NO:
          type: integer
        dunS_NUM:
          type: string
        legaL_NAME:
          type: string
        loC_ID:
          type: string
        loC_NM:
          type: string
        poV_CD:
          type: string
        efF_DT_FROM:
          type: string
          format: date-time
        efF_DT_TO:
          type: string
          format: date-time
        posT_DATE:
          type: string
        loC_PURP:
          type: string
        loC_QTI:
          type: string
        meaS_BASIS:
          type: string
        meaS_BASIS_DESC:
          type: string
        loC_CAP:
          type: number
        comments:
          type:
          - string
          - 'null'
    GasQualityReading:
      type: object
      description: 'Daily gas-quality analysis for one location: heating value, Wobbe index and hydrocarbon/inert
        mole percentages.'
      properties:
        tsP_NO:
          type: integer
        legaL_NAME:
          type: string
        dunS_NO:
          type: string
        loC_ID:
          type: string
        loC_NM:
          type: string
        gaS_DAY:
          type: string
          format: date-time
        heatinG_VALUE:
          type: number
        n2_PCT:
          type: number
        c02_PCT:
          type: number
        c1_PCT:
          type: number
        c2_PCT:
          type: number
        c3_PCT:
          type: number
        iC4_PCT:
          type: number
        nC4_PCT:
          type: number
        iC5_PCT:
          type: number
        nC5_PCT:
          type: number
        c6PLUS_PCT:
          type: number
        wobbE_INDEX:
          type: number
    ComingledGasQuality:
      type: object
      description: Daily comingled (system-wide) gas-quality analysis.
      properties:
        comingledId:
          type: integer
        gasDay:
          type: string
          format: date-time
        btu:
          type: number
        c1:
          type: number
        c2:
          type: number
        c3:
          type: number
        c4I:
          type: number
        c4N:
          type: number
        c5:
          type: number
        c6Plus:
          type: number
        cO2:
          type: number
        n2:
          type: number
        nC5:
          type: number
        companyId:
          type: integer
        frequency:
          type: string
    TransactionalReportRow:
      type: object
      description: 'Transactional reporting row (firm / interruptible / capacity release) per FERC 18
        CFR 284.13(b): contract, shipper, rate and location detail.'
      properties:
        postDateTime:
          type: string
          format: date-time
        tspNo:
          type: integer
        tspName:
          type: string
        tspDuns:
          type: string
        contractHolder:
          type: string
        contractHolderName:
          type: string
        contractHolderProp:
          type: string
        serviceRequesterContract:
          type: string
        contractBeginDate:
          type: string
          format: date-time
        contractEndDate:
          type: string
          format: date-time
        contractStatus:
          type: string
        ctrMDQ:
          type: number
        affil:
          type: string
        rateCharged:
          type: number
        maxTariffRate:
          type: number
        rateSchedule:
          type: string
        resRateBasis:
          type: string
        rateID:
          type: string
        mktBasedRateInd:
          type: string
        ngtdRateInd:
          type: string
        surchgInd:
          type: integer
        locId:
          type: string
        ctrLocMDQ:
          type: number
        loc:
          type: string
        locPurpose:
          type: string
        locQTI:
          type: integer
    LocationDetail:
      type: object
      description: 'Full location master record from the downloadable location list: FERC company ID,
        DUNS, zone, county, state, flow direction and upstream/downstream party.'
      properties:
        tsP_NO:
          type: integer
        tsP_DUNS_NO:
          type: string
        tsP_NM:
          type: string
        tsP_FERC_CID:
          type: string
        loC_ID:
          type: string
        loC_NM:
          type: string
        efF_DT:
          type: string
          format: date-time
        inacT_DT:
          type: string
          format: date-time
        loC_STATUS_CD:
          type: string
        loC_TYPE_CD:
          type: string
        floW_DIRECTION:
          type: string
        znE_LOC_GRP_NM:
          type: string
        countY_DESCR:
          type: string
        statE_CD:
          type: string
        updN_IND_CD:
          type: string
        updN_FERC_IND_CD:
          type: string
        updN_NM:
          type: string
        updN_ID:
          type: string
        updN_ID_PROP:
          type: string
        updN_FERC_CID:
          type:
          - string
          - 'null'
        updN_LOC_ID:
          type:
          - string
          - 'null'
        updN_LOC_NM:
          type:
          - string
          - 'null'
        updT_DT:
          type: string
          format: date-time
    Station:
      type: object
      description: A compressor / metering station shown on the system map.
      properties:
        stationId:
          type: integer
        companyId:
          type: integer
        locationId:
          type: string
        locationName:
          type: string
        directionOfFlow:
          type: string
        description:
          type: string
        isExpired:
          type: boolean
        metaId:
          type: integer
        orderBy:
          type: integer
    NoticeSummary:
      type: object
      description: Summary of an active operational notice (critical / non-critical).
      properties:
        noticeId:
          type: integer
        subject:
          type: string
        pageId:
          type: integer
        effectiveDateTime:
          type: string
          format: date-time
        metaId:
          type: integer
        description:
          type: string
    InformationalContact:
      type: object
      description: A published informational-postings contact. Field names only; no example values are
        recorded in this repository.
      properties:
        contactId:
          type: integer
        name:
          type: string
        companyId:
          type: integer
        email:
          type: string
        office:
          type: string
        mobile:
          type: string
        afterHour:
          type: string
        metaId:
          type: integer
        isExpired:
          type: boolean
    Page:
      type: object
      description: A node in the informational-postings navigation tree. `subPage` recurses.
      properties:
        name:
          type: string
        pageId:
          type: integer
        isExpired:
          type: boolean
        attributeMetaId:
          type: integer
        attributeId:
          type: integer
        orderBy:
          type: integer
        metaId:
          type: integer
        description:
          type: string
        isEmbedded:
          type: boolean
        subPage:
          type: array
          items:
            $ref: '#/components/schemas/Page'
    PageIndex:
      type: object
      description: 'Root discovery document: the full posting-page tree plus the transportation service
        providers (TSPs) served by this site.'
      properties:
        pages:
          type: array
          items:
            $ref: '#/components/schemas/Page'
        companies:
          type: array
          items:
            type: object
    IndexOfCustomersEntry:
      type: object
      description: 'One Index of Customers record (FERC 18 CFR 284.13(c)), returned as the NAESB row structure:
        `header.row1` pipeline header, `header.row2` shipper detail, `header.row3` agent, plus `section`
        rollups.'
      properties:
        header:
          type: object
        section:
          type: array
          items:
            type: object
    DocumentGroup:
      type: object
      description: Documents attached to a posting page.
      properties:
        pageName:
          type: string
        subPageName:
          type: string
        documents:
          type: array
          items:
            type: object
        className:
          type: string
